/** ===== font style ===== */ 



body,
input,textarea,select,button,
ul.news_widget_style li h3{
	font-family : Arial, tahoma, sans-serif;
}
h1,h2,h3,h4,h5,h6, .amount{
	font-family : Arial, tahoma, sans-serif;
}
ul#main-nav{
	font-family : Arial, tahoma, sans-serif;
}
